../.idea
.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
.env
docs_build
site_build
venv
docs.zip
archive.zip
dump.rdb
# vim temporary files
*~
.*.sw?
.cache

#llm

app/llm-models
app/data

wandb
wandb/
wandb/*
logs/
logs/*
local_scripts
local_scripts/*

newrelic.ini
.claude
.venv
*.log
